html {
  box-sizing: border-box;
  font-size:  62.5%; /** 1rem = 10px */
}

*, *::before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 1.6rem;
  line-height: 2;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* globales */


.contenedor {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 4rem;
  line-height: 1.2;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.8rem;
}

img {
  max-width: 100%;
}
/* utilidades */

.text-center {
  text-align: center;
}

.no-margin {
  margin: 0;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.al-center {
  align-self: center;
}

/** grid **/
@media (min-width: 768px) {
  .grid {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }

  .centrar-columnas {
      justify-content: center;
  }

  .columnas-4 {
      flex: 0 0 calc(33.3% - 1rem);
  }

  .columnas-6 {
      flex: 0 0 calc(50% - 1rem);
  }
  
  .columnas-8 {
      flex: 0 0 calc(66.6% - 1rem);
  }

  .columnas-10 {
      flex: 0 0 calc(83.3% - 1rem);
  }

  .columnas-12 {
      flex: 0 0 100%;
  }

}

.botones {
  display: flex;
}

.botones .btn:nth-child(1){
  margin-right: 10px;
}

/*blog*/

.blog-interno h2 {
  text-align: center;
}

@media (min-width: 768px) {

  .blog-interno .blog {
    flex: 0 0 calc(100% - 1rem);
  }

}


/*page carrito*/

.cart-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.contenedor-productos {
  position: relative;
  overflow-y:auto;
  border: 1px solid black;
  min-height: 50vh;
  max-height: 100%;
}

.informacion-factura {
  display: flex;
  width: 76%;
  margin: 0 auto;
  align-items: center;
 justify-content: space-evenly;
}

.informacion-factura::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background-color: black;
  top: 50px;
}

.informacion-factura p {
  gap: 2rem;
 }

.informacion-factura p:nth-child(4) {
  position: absolute;
  right: 0;
  padding-right: 10px;
}



.info-productos {
  position: relative;
  min-height: 50vh;
  max-height: 100%;
}



.total-item {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.total-price {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: flex-end;
}

.total-item p,
.total-price p {
  margin-right: 10px;
}

.total-price::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background-color: black;
  left: 0;
  top: 0;
}

.productos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-producto {
  display: flex;
  width: 60%;
  justify-content: space-between;
}

.info-producto p{
  flex: 0 0 calc(37% - 1rem);
}

.productos .btn-cart {
  margin-right: 25px;
  padding: 0.5rem 1rem;
}

.img-producto {
  margin-left: 25px;
}
