html {
  box-sizing: border-box;
  font-size:  62.5%; /** 1rem = 10px */
}

*, *::before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 1.6rem;
  line-height: 2;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* globales */


.contenedor {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 4rem;
  line-height: 1.2;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.8rem;
}

img {
  max-width: 100%;
}
/* utilidades */

.text-center {
  text-align: center;
}

.no-margin {
  margin: 0;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.al-center {
  align-self: center;
}

/** grid **/
@media (min-width: 768px) {
  .grid {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }

  .centrar-columnas {
      justify-content: center;
  }

  .columnas-4 {
      flex: 0 0 calc(33.3% - 1rem);
  }

  .columnas-6 {
      flex: 0 0 calc(50% - 1rem);
  }
  
  .columnas-8 {
      flex: 0 0 calc(66.6% - 1rem);
  }

  .columnas-10 {
      flex: 0 0 calc(83.3% - 1rem);
  }

  .columnas-12 {
      flex: 0 0 100%;
  }

}

.botones {
  display: flex;
  flex-wrap: wrap;
}

.botones .btn {
  font-size: 14px;
  padding: 1rem;
  flex: 0 0 calc(48% - 0rem);
}

.botones .btn:nth-child(1){
  margin-right: 10px;
}

/*blog*/

.blog-interno h2 {
  text-align: center;
}

@media (min-width: 768px) {

  .blog-interno .blog {
    flex: 0 0 calc(100% - 1rem);
  }

}


/*page carrito*/

.cart-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.carrito span {
  position: absolute;
  top: -15px;
  background-color: black;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  right: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-productos {
  position: relative;
  overflow-y:auto;
  border: 1px solid black;
  min-height: 50vh;
  max-height: 100%;
}

.informacion-factura {
  display: flex;
  width: 80%;
  margin: 0 auto;
  align-items: center;
 justify-content: space-evenly;
}

.informacion-factura::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background-color: black;
  top: 50px;
}

.informacion-factura p {
  gap: 2rem;
 }

.informacion-factura p:nth-child(4) {
  position: absolute;
  right: 0;
  padding-right: 10px;
}



.info-productos {
  position: relative;
  min-height: 50vh;
  max-height: 100%;
}

.info-productos .fecha{
  padding-left: 20px;
}


.img-producto {
  width: 10%;
}


.total-item {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.total-price {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: flex-end;
}

.total-item p,
.total-price p {
  margin-right: 10px;
}

.total-price::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background-color: black;
  left: 0;
  top: 0;
}

.productos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-producto {
  display: flex;
  width: 80%;
  max-width: 80%;
  justify-content: space-between;
}

.info-producto p{
  flex: 0 0 calc(37% - 1rem);
}

.productos .btn-cart {
  margin-right: 25px;
  padding: 0.5rem 1rem;
}

.img-producto {
  margin-left: 25px;
}


/*facturacion */

@media (min-width: 900px) {
  .facturacion {
      width: 69.4rem;
  }
}

.formulario {
  display: flex;
  flex-direction: column;
}

.formulario input {
  border: 1px solid #000000;
}

.form-control {
  border: 1px solid #000000;
}

.formulario .campo {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

#nombre-apellido {
  margin: 0;
}


@media (min-width: 900px) {

  .form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .formulario {
      width: 69.4rem;
  }

  #nombre-apellido {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
      margin-bottom: 0;
  }

  #nombre-apellido input {
      width: 100%;
  }
}

/* modudlos carritos */

.texto-carrito {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.texto-carrito p {
  font-size: 4rem;
}


.botenes-cart {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.productos-carrito {
  display: flex;
  flex-direction: column;
}

.producto-carrito {
  display: flex;
  padding: 5px;
}

.producto-carrito p {
  color: black;
  flex: 0 0 calc(36% - 0rem);
  font-size: 10px;
}

.producto-carrito .precio {
  flex: 0 0 calc(30% - 0rem);
}

.btn-carrito {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  border-top: 1px solid black;
}


.btn-carrito .btn{
  font-size: 12px;
  padding: .5rem 1rem;
  margin: 2rem 1rem;
}

.btn-carrito .btn:hover{
 color: black;
}

#texto-view  p {
  font-size: 18px !important;
  color: black !important;
}

#texto-view   {
  height: 30vh !important;
}

.precio {
  width: 50%;
}